:root{
    --grisclaro:#E9ECEF;
    --negro:#000000;
    --blanco:#FFFFFF;
    
      --naranja:#FFA500;
     
      --naranjac: #FFDBBB;
  
  

}* {
    margin: 0;
    padding: 0;
  }
  body{
    background-image: url(../imagenes/Vista\ zapatilla.svg);
    background-position: center
    ;
    background-size: cover;
  }
  @font-face {
    font-family: Inter;
    src: url(../tipos_de_texto/Inter-VariableFont_opsz\,wght.ttf);
  }
  
  .encabezado {
    display: flex;
  }
  
  .arriba {
    background-color: var(--grisclaro);
    height: 6rem;
    margin-top: 1rem;
    border-right: none;
    border-left: none;
    border-top: 0.5rem solid var(--negro);
    border-bottom: 0.5rem solid var(--negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    height: 2rem;
    margin-left: 3rem;
    cursor: pointer;
  }
  
  .menu:hover {
    background-color: var(--blanco);
  }
  
  .logo {
    height: 5rem;
    margin-left: 5rem;
  }
  
  .violeta {
    background-color: var(--grisclaro);
    height: 2.3rem;
    width: 12.5%;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
  }
  .lupa{
    height: 2.5rem;
  }
  .perfil{
    height: 2.3rem;
  }
  
  .barra {
    width: 40%; 
    height: 100%; 
    flex-shrink: 0;
    background: #FFF;
    border-right: 0.1875rem solid black; 
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 8rem;
    pointer-events: none;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 3rem);    
    width: 100%;
    gap: 1.25rem;
    margin-left: 10rem;
  }
  
  .barra.visible {
    transform: translateX(0);
    pointer-events: auto;
  }
  
  .busqueda,
  .favoritos,
  .cuestionario,
  .mi_perfil,
  .guia_detalles,
  .acerca_nosotros,
  .cerrar {
    display: flex;
    align-items: center;
    justify-content: row;
    gap: 2.5rem;
    align-self: stretch;
  }
  
  .link-barra {
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: block;
  }
  
  h1 {
    color: #000;
    font-family: "Lexend Deca";
    font-size: 2.25rem; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .medio{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.izq{
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    

}
.zapatilla{
height: 36rem;
  width: 36rem;
  background-color: var(--blanco);
  display: flex;
  justify-content: center;
  align-items:center;

}


.der{
    
    flex: 1;
    
        
}
.derecha{
  margin-top: 2rem;
  display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
    margin-left: 2rem;
    gap: 2.5rem
    ;

    
}
.tw{
 font-family: Inter;
 color: #000;

font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.tq{
font-family: Inter;
color: #000;

font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 4px;
}
.escribir{
  border-radius: 40px;
border: 2px solid #000;
background: #FFF;
width: 35rem;
height: 3rem;
flex-shrink: 0;
color: #717171;
font-family: Inter;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: ri;
margin-top: 15rem;
}
.escribir::placeholder {
  padding-left: 1rem; 
}

.nombre-zapatilla{
  font-family: Inter;
  font-size: 4rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 4rem;
}
.precios{
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
}

.precio-zapatilla{
  margin-left: 1rem;
  color: var(--naranja);
  font-family: Inter;
  font-size: 4rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  
}
.PP{
  
  font-family: Inter;
  font-size: 4rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}



.fav-icon {
  position: absolute;      
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: contain;
  display: block;
  cursor: pointer;
  z-index: 10;   
  left: 36.7rem; 
  top: 15.2rem;
  filter: grayscale(100%) brightness(0.9);

}

.fav-icon.tocado {
  filter: grayscale(0%) brightness(1);
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0,0,0,0.12);
  border-color: #FFD400;
  outline: none;
}
.comenta{
  height: 3.5rem;
  background-color: var(--naranja);
  border-radius: 3rem;
}