:root{
    --grisclaro:#E9ECEF;
    --negro:#000000;
    --blanco:#FFFFFF;
  
    @font-face {
      font-family: "Bitter";
      src: url(Bitter-Italic-VariableFont_wght.ttf);
    }
  }* {
    margin: 0;
    padding: 0;
  }

  .encabezado {
    display: flex;
  }
  
  .arriba {
    background-color: var(--grisclaro);
    height: 6rem;
    margin-top: 1rem;
    border-right: none;
    border-left: none;
    border-top: 0.5rem solid var(--negro);
    border-bottom: 0.5rem solid var(--negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    height: 2rem;
    margin-left: 3rem;
    cursor: pointer;
  }
  
  .menu:hover {
    background-color: var(--blanco);
  }
  
  .logo {
    height: 5rem;
    margin-left: 5rem;
  }
  
  .violeta {
    background-color: var(--grisclaro);
    height: 2.3rem;
    width: 12.5%;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
  }
  .lupa{
    height: 2.5rem;
  }
  .perfil{
    height: 2.3rem;
  }
  
  .main {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    gap: 1rem;
    height: 80vh;
  }
  
  
  .barra {
    width: 40%; 
    height: 100%; 
    flex-shrink: 0;
    background: #FFF;
    border-right: 0.1875rem solid black; 
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 8rem;
    pointer-events: none;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 3rem);    
    width: 100%;
    gap: 1.25rem;
    margin-left: 10rem;
  }
  
  .barra.visible {
    transform: translateX(0);
    pointer-events: auto;
  }
  
  .busqueda,
  .favoritos,
  .cuestionario,
  .mi_perfil,
  .guia_detalles,
  .acerca_nosotros,
  .cerrar {
    display: flex;
    align-items: center;
    justify-content: row;
    gap: 2.5rem;
    align-self: stretch;
  }
  
  .link-barra {
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: block;
  }
  
  h1 {
    color: #000;
    font-family: "Lexend Deca";
    font-size: 2.25rem; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .talles{
    height:28rem;
    width: 62rem;
    background-image: url(talles.png);
    flex: 1rem;
    margin: auto;
    background-size: contain;
    background-position: center
  }
  .texto{
    margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: #000;
  text-align: center;
  font-family: Bitter;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  .cuadrado_gris {
    height: 35rem;
    width: 70rem;
    background-color: gray;
    margin: auto;
    margin-top: 1rem;
    padding: 1.5625rem;
}

.cuadrado_gris fieldset legend {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
    color: var(--negro);
}

.opcion { 
    display: block;
    margin-bottom: 0.9375rem;
    cursor: pointer;
}

.opcion input {
    display: none;
}

.opcion .texto-label::before {
    content: ''; 
    display: inline-block;
    width: 1.5625rem;
    height: 1.5625rem;
    border: 0.1rem solid var(--negro);
    background-color: #FFA500;
    margin-right: 0.625rem;
    vertical-align: middle;
}

.opcion input:checked + .texto-label::before {
    background-color: #e69500;
    content: '8=>';
    color: var(--negro);
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5625rem;
}

.opcion .texto-label {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--negro);
}