:root{
    --grisclaro:#E9ECEF;
    --negro:#000000;
    --blanco:#FFFFFF;

}* {
    margin: 0;
    padding: 0;
  }
  body{
    background-image: url(../imagenes/Rectangle\ 176.png);
    
  }
  @font-face {
    font-family: lucki;
    src: url(../tipos_de_texto/Bitter-Italic-VariableFont_wght.ttf);
  }
  .encabezado {
    display: flex;
  }
  
  .arriba {
    background-color: var(--grisclaro);
    height: 6rem;
    margin-top: 1rem;
    border-right: none;
    border-left: none;
    border-top: 0.5rem solid var(--negro);
    border-bottom: 0.5rem solid var(--negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    height: 2rem;
    margin-left: 3rem;
    cursor: pointer;
  }
  
  .menu:hover {
    background-color: var(--blanco);
  }
  
  .logo {
    height: 5rem;
    margin-left: 5rem;
  }
  
  .violeta {
    background-color: var(--grisclaro);
    height: 2.3rem;
    width: 12.5%;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
  }
  .lupa{
    height: 2.5rem;
  }
  .perfil{
    height: 2.3rem;
  }
  
  .barra {
    width: 40%; 
    height: 100%; 
    flex-shrink: 0;
    background: #FFF;
    border-right: 0.1875rem solid black; 
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    padding-top: 8rem;
    pointer-events: none;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 3rem);    
    width: 100%;
    gap: 1.25rem;
    margin-left: 10rem;
  }
  
  .barra.visible {
    transform: translateX(0);
    pointer-events: auto;
  }
  
  .busqueda,
  .favoritos,
  .cuestionario,
  .mi_perfil,
  .guia_detalles,
  .acerca_nosotros,
  .cerrar {
    display: flex;
    align-items: center;
    justify-content: row;
    gap: 2.5rem;
    align-self: stretch;
  }
  
  .link-barra {
    text-decoration: none;
    color: inherit;
    width: 100%;
    display: block;
  }
  
  h1 {
    color: #000;
    font-family: "Lexend Deca";
    font-size: 2.25rem; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
.medio{
  display: flex;
  flex-direction: row;
  
  gap: 2px;

}
.tercio{
  
  height:40rem;
  width: 70rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.aura{
  height: 17rem;
  width: 11rem;
  border-radius: 5rem;
background: #D9D9D9;
  margin: 2rem;


}
.imagen{
  width: 26rem;
  height: 9.8rem;
  background: #D9D9D9;
  animation: degrade 4s forwards;
}

.facha{
  text-align: center;
  font-family: Lucki ;
  animation: degrade 4s forwards;
  margin-top: 2rem;

}
.faca{
  width: 45rem;
  height: 26rem;
}
  .dr{
    width: 26rem;
  }
.mp{
  height: 17rem;
  width: 11rem;
  border-radius: 5rem;
  border: 2px solid black;
  
}
@keyframes degrade {
  from { opacity: 0; }
  to   { opacity: 1; }
  to   { opacity: 2; }
  to   { opacity: 3; }
  to   { opacity: 4; }
}
.input_escondido {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 26rem;
  
}

.aparezca_input {
  background-color: var(--blanco);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid var(--negro);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 8rem;
}

.botones {
  display: flex;
  justify-content: space-around;
  margin-top:5.5rem;
  flex-direction: row-reverse;
  
}

.si, .no {
  border-radius: 90px;
  border: 1px solid var(--negro);
  width: 7rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.si {
  background: #FAA307;
}

.no {
  background: var(--blanco);
}


.hidden {
  display: none;
}