:root{
    --grisclaro:#E9ECEF;
    --negro:#000000;
    --blanco:#FFFFFF;

}
* {
    margin: 0;
    padding: 0;
    
  }
  

.encabezado{
    display: flex;
}
.arriba{
    background-color: var(--grisclaro);
    height: 6rem;
    margin-top: 1rem;
    border-right: none;
    border-left: none;
    border-top: 0.5rem solid var(--negro);
    border-bottom: 0.5rem solid var(--negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    height: 2rem;
    margin-left: 3rem;
}
.logo{
    height: 5rem;
    margin-left: 5rem;
}
.violeta{
    background-color: var(--grisclaro);
    height: 2.3rem;
    width: 12.5%;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    
}
.main{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    gap: 1rem;
    height: 80vh;
}
.info{
    height: 50rem;
    background-image: url(Rectangle\ 51.png);
    flex: 1;
    border-radius: 3rem;

}




