:root{
    --grisclaro:#E9ECEF;
    --negro:#000000;
    --blanco:#FFFFFF;

}
* {
    margin: 0;
    padding: 0;
    
  }
  

.encabezado{
    display: flex;
}
.arriba{
    background-color: var(--grisclaro);
    height: 6rem;
    margin-top: 1rem;
    border-right: none;
    border-left: none;
    border-top: 0.5rem solid var(--negro);
    border-bottom: 0.5rem solid var(--negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    height: 2rem;
    margin-left: 3rem;
    cursor: pointer
}
.menu:hover{
background-color: var(--blanco);
}
.logo{
    height: 5rem;
    margin-left: 5rem;
}
.violeta{
    background-color: var(--grisclaro);
    height: 2.3rem;
    width: 12.5%;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    
}
.main{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    gap: 1rem;
    height: 80vh;
}
.info{
    height: 50rem;
    background-image: url(Rectangle\ 51.png);
    flex: 1;
    border-radius: 3rem;

}


.barra{
    width: 660px;
    height: 1080px;
    flex-shrink: 0;
    background: #FFF;
    border-right: 3px solid black;
    border-left: 0rem;
    border-bottom: 0cm;
    border-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out; 
    z-index: 1000;
    padding-top: 8rem; 
    pointer-events: none;
}
.barra.visible{
    transform: translateX(0);
    pointer-events: auto;
}
.busqueda{
display: flex;
align-items: center;
justify-content: row;
}
.favoritos{
    display: flex;
    align-items: center;
    justify-content: row;
    }

.cuestionario{
    display: flex;
    align-items: center;
    justify-content: row;
    }
    .mi_perfil{
        display: flex;
        align-items: center;
        justify-content: row;
        }

        .guia_detalles{
            display: flex;
            align-items: center;
            justify-content: row;
            }

            .acerca_nosotros{
                display: flex;
                align-items: center;
                justify-content: row;
                }

                .cerrar{
                    display: flex;
                    align-items: center;
                    justify-content: row;
                    }

