:root{
  --grisclaro:#E9ECEF;
  --negro:#000000;
  --blanco:#FFFFFF;
  --gris: #808080;
  --grisv: #D9D9D9;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url(Inter-VariableFont_opsz\,wght.ttf);
}

.encabezado{
  display: flex;
}
.arriba{
  background-color: var(--grisclaro);
  height: 6rem;
  margin-top: 1rem;
  border-right: none;
  border-left: none;
  border-top: 0.5rem solid var(--negro);
  border-bottom: 0.5rem solid var(--negro);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  height: 2rem;
  margin-left: 3rem;
  cursor: pointer;
}
.menu:hover {
  background-color: var(--blanco);
}
.logo{
  height: 5rem;
  margin-left: 5rem;
}
.violeta{
  background-color: var(--grisclaro);
  height: 2.3rem;
  width: 12.5%;
  display: flex;
  justify-content: space-between;
  margin-right: 3rem;
}
.lupa{
  height: 2.5rem;
}
.perfil{
  height: 2.5rem;
}
.buscar{
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.custom-input {
  position: relative;
  width: 50rem;
  height: 4rem;
  border-radius: 50px;
  border: 3px solid var(--gris);
  background: #FFF;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.custom-input input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  color: #717171;
  font-family: Inter;
  font-size: 1.7rem;
  font-weight: 700;
  padding-left: 2.5rem;  /* Para espacio entre la imagen y el texto */
  padding-right: 2.5rem; /* Para espacio entre la imagen y el texto */
  outline: none;
}

.left-icon,.right-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
  height: 1.75rem;
}

.left-icon {
  left: 1.25rem;
}

.right-icon {
  right: 2.2rem;
}

.octavos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 8rem;
  margin-top: 4rem;
}

.ejemplos{
  height: 15rem;
  width: 15rem;
  background-color: var(--grisv);
  border-radius: 2.2rem;
  margin-top: 1rem;
}
.ejemplos:hover{
  background-color: var(--grisclaro);
}

.barra {
  width: 40%; 
  height: 100%; 
  flex-shrink: 0;
  background: #FFF;
  border-right: 0.1875rem solid black; 
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding-top: 8rem;
  pointer-events: none;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 3rem);    
  width: 100%;
  gap: 1.25rem;
  margin-left: 10rem;
}

.barra.visible {
  transform: translateX(0);
  pointer-events: auto;
}

.busqueda,
.favoritos,
.cuestionario,
.mi_perfil,
.guia_detalles,
.acerca_nosotros,
.cerrar {
  display: flex;
  
  justify-content: row;
  gap: 2.5rem;
  align-self: stretch;
}

.link-barra {
  text-decoration: none;
  color: inherit;
}

h1{
  color: #000;
    font-family: "Lexend Deca";
    font-size: 2.25rem; 
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.filtro-cuadro {
  display: none;
  position: absolute;
  top: 9.2rem; 
  right: 3rem;
  width: 30%; 
  height: 78%; 
  background-color: white;
  border: 0.3rem solid black;
  border-radius: 0.1rem;
  padding: 1rem;
  
}

/* Opciones dentro del cuadro */
.filtro-opcion {
  margin-bottom: 1rem;
}

.filtro-opcion label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

.filtro-opcion select {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid black;
  border-radius: 0.45rem;
}

.limpiar{
  margin-left: 19rem;
  margin-top: 7.7rem;
  width: 7rem;
}
.barra {
  overflow: hidden;
}