:root{
    --grisclaro:#E9ECEF;
    --negro:#000000;
    --blanco:#FFFFFF;
    --gris: #808080;
}
* {
    margin: 0;
    padding: 0;
    
  }
  @font-face {
    font-family: "Inter";
    src: url(Inter-VariableFont_opsz\,wght.ttf);
  }
  

.encabezado{
    display: flex;
}
.arriba{
    background-color: var(--grisclaro);
    height: 6rem;
    margin-top: 1rem;
    border-right: none;
    border-left: none;
    border-top: 0.5rem solid var(--negro);
    border-bottom: 0.5rem solid var(--negro);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    height: 2rem;
    margin-left: 3rem;
}
.logo{
    height: 5rem;
    margin-left: 5rem;
}
.violeta{
    background-color: var(--grisclaro);
    height: 2.3rem;
    width: 12.5%;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    
}
.buscar{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    
}
.busqueda{
    width: 50rem;
    height: 3.2rem;
    flex-shrink: 0;
    border-radius: 50px;
    border: 3px solid var(--gris);
    background: #FFF;
    color: #717171;
    font-family: Inter;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.5rem;
    
}
.octavos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 8rem;
    
}
.ejemplos{
    height: 12rem;
    width: 12rem;
    background-color: var(--grisclaro);
    border-radius: 2.2rem;
    margin-top: 1rem;
}


