:root{
    --grisclaro:#E9ECEF;
    --negro:#000000;
    --blanco:#FFFFFF;

}


.encabezado{
    display: flex;
}
.arriba{
    background-color: var(--grisclaro);
    height: 6rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    height: 2rem;
    margin-left: 3rem;
}
.logo{
    height: 5rem;
    margin-left: 5rem;
}
.violeta{
    background-color: var(--grisclaro);
    height: 2.3rem;
    width: 12.5%;
    display: flex;
    justify-content: space-between;
    margin-right: 3rem;
    
}
.barra{
    width: 660px;
    height: 1080px;
    flex-shrink: 0;
    background: #FFF;
    border-right: 3px solid black;
    border-left: 0rem;
    border-bottom: 0cm;
    border-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.busqueda{
display: flex;
align-items: center;
justify-content: row;
}
.favoritos{
    display: flex;
    align-items: center;
    justify-content: row;
    }

.cuestionario{
    display: flex;
    align-items: center;
    justify-content: row;
    }
    .mi_perfil{
        display: flex;
        align-items: center;
        justify-content: row;
        }

        .guia_detalles{
            display: flex;
            align-items: center;
            justify-content: row;
            }

            .acerca_nosotros{
                display: flex;
                align-items: center;
                justify-content: row;
                }

                .cerrar{
                    display: flex;
                    align-items: center;
                    justify-content: row;
                    }