font-face {
    font-family: 'bungee';
    src: url('Bungee\ -\ Acceso\ directo.lnk') format('truetype');
}

h1 {
    font-family: 'bungee', sans-serif;
    text-align: center;
    font-size: 70px;
}
body {
    background-image: url(Rectangle\ 1.png);    
}
.imagenes {
    display: flex;
    justify-content: space-between ;
}
*{
justify-content: space-between;
}