:root{
  --grisclaro:#E9ECEF;
  --negro:#000000;
  --blanco:#FFFFFF;

  @font-face {
    font-family: "Bitter";
    src: url(Bitter-Italic-VariableFont_wght.ttf);
  }
}* {
  margin: 0;
  padding: 0;
}
body{
background-color: #ADB5BD;
}
.encabezado {
  display: flex;
}

.arriba {
  background-color: var(--grisclaro);
  height: 6rem;
  margin-top: 1rem;
  border-right: none;
  border-left: none;
  border-top: 0.5rem solid var(--negro);
  border-bottom: 0.5rem solid var(--negro);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  height: 2rem;
  margin-left: 3rem;
  cursor: pointer;
}

.menu:hover {
  background-color: var(--blanco);
}

.logo {
  height: 5rem;
  margin-left: 5rem;
}

.violeta {
  background-color: var(--grisclaro);
  height: 2.3rem;
  width: 12.5%;
  display: flex;
  justify-content: space-between;
  margin-right: 3rem;
}
.lupa{
  height: 2.5rem;
}
.perfil{
  height: 2.3rem;
}

.main {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: 1rem;
  height: 80vh;
}


.barra {
  width: 40%; 
  height: 100%; 
  flex-shrink: 0;
  background: #FFF;
  border-right: 0.1875rem solid black; 
  border-left: 0;
  border-bottom: 0;
  border-top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding-top: 8rem;
  pointer-events: none;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 3rem);    
  width: 100%;
  gap: 1.25rem;
  margin-left: 10rem;
}

.barra.visible {
  transform: translateX(0);
  pointer-events: auto;
}

.busqueda,
.favoritos,
.cuestionario,
.mi_perfil,
.guia_detalles,
.acerca_nosotros,
.cerrar {
  display: flex;
  align-items: center;
  justify-content: row;
  gap: 2.5rem;
  align-self: stretch;
}

.link-barra {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display: block;
}

h1 {
  color: #000;
  font-family: "Lexend Deca";
  font-size: 2.25rem; 
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.talles{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.25rem auto;
  padding: 1rem;
  background: transparent;
}

.talles-img{
  max-width: 95%;
  height: auto;
  max-height: 80vh; 
  display: block;
  margin: 0 auto;
  background: #fff;
  border: 3px solid #000; 
  box-sizing: border-box;
}
.texto{
  margin-top: 1rem;
margin-bottom: 0.5rem;
color: #000;
text-align: center;
font-family: Bitter;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}