body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    background-image: url();
    background-size: cover;
    background-position: center;
    height: 100%;
    animation: degrade 2s forwards;
}
@keyframes degrade {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
@font-face {
    font-family: Inter;
    src: url(Inter-VariableFont_opsz\,wght.ttf);
}
.LOGO{
    margin-bottom: 5rem;
    height: 9rem;
}
.boton{
    margin-top: 2rem;
    font-family: Inter;
    border-radius: 30px;
    border: 2px solid #000;
    background: #FAA307;
    width: 24rem;
    height: 5rem;
    color: white;
    font-size: 1.25rem;
}
.email{
    height: 1.7rem;
    width: 25rem;
    font-family: inter;
    text-align: center;
    font-size: 1.25rem;
}