:root{
    --celeste: #289EBF;
    --rojo: red;
}
@font-face {
    font-family: "Inter";
    src: url(Inter-VariableFont_opsz\,wght.ttf);
}
body{
    background-image: url(Rectangle\ 176.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    animation: degrade 2s forwards;
}
@keyframes degrade {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
.cuerpo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
    margin-top: 2rem;
    
}
.LOGO{
    height: 8rem;
}
.sesion{
    border-radius: 1.5rem;
    border: 2px solid #000;

    background: #FAA307;
    width: 20rem;
    height: 5rem;
    font-family: Inter;
    color: #F5F5F5;

font-family: Inter;
font-size: 1.5rem;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 0rem;
}
.contraseña{
    height: 2rem;
    width: 20rem;
    font-family: Inter;
    font-size: 1rem;
    
}
.nombre{
    height: 2rem;
    width: 20rem;
    font-family: Inter;
    font-size: 1rem;
}
.olvidaste-tu-contraseña{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.no-tienes-cuenta{
    display: flex;
    justify-content: center;
}
.recuperar{
    margin-top: 1.3rem;
    color: var(--celeste);
}
.crear{
    margin-top: 1.3rem;
    color: var(--celeste);
}
.mensaje{
    margin-top: -1rem;
    color: var(--rojo);
}
